<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    This is our bean (metadata)
            This will provide us the object-->

<!--    Setter Injection-->
    <bean class="com.test.demo.Student" name="student1">
        <property name="studentId">
            <value>240</value>
        </property>

        <property name="studentName">
            <value>Tyson</value>
        </property>

        <property name="studentAddress">
            <value>Tokyo</value>
        </property>
    </bean>

<!--    Using p Schema-->
    <bean class="com.test.demo.Student" name="student2" p:studentId="72" p:studentName="Kai" p:studentAddress="Tokyo"/>

</beans>